.container.theme-showcase
  .jumbotron
    %h1= title
    %p
      このサービスは、RG Wide Cloud default-networkで開発・運用しているサービスを
      %span gw.sfc.wide.ad.jp
      のサブドメインとしてホスティングするために、作られたサービスです。
    %p
      サブドメインとしてプロキシするため、1つのIPアドレスで複数のサイトをホスティングすることを可能としています。

.container
  ご連絡はSlackで @miyukki まで
