.container.theme-showcase
  .jumbotron
    %h1= title
    %p
      このサービスは、filteredネットワークで開発・運用しているサービスを
      %span sfc.widead.jp (not typo)
      のサブドメインとしてホスティングするために、作られたサービスです。
    %p
      サブドメインとしてプロキシするため、1つのIPアドレスで複数のサイトをホスティングすることを可能としています。

.container
  ご連絡はSlackで @miyukki まで
